/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 * @author brollb / https://github.com/brollb
 */

$node-stroke-color: steelblue;
$node-fill-color: #FFF;
$link-stroke-color: #CCC;

.tree-viz {
  outline: none;

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: $node-fill-color;
    stroke: $node-stroke-color;
    stroke-width: 1.5px;
  }

  .node text {
    font: 10px sans-serif;
  }

  .link {
    fill: none;
    stroke: $link-stroke-color;
    stroke-width: 1.5px;
  }
}

.tree-viz-zoom-container {
  position: absolute;
  top: 40px;
  left: 10px;
}
